body {
  font-family: "Be Vietnam", sans-serif;
  background: #f5f5f5;
}

header {
  background: white;
  padding: 16px;
  margin-bottom: 48px;
}

h1 {
  font-family: "Belgrano", serif;
  font-size: 4em;
}

.mailing-list {
  margin-top: 60px;
}

.mailing-list a {
  text-decoration: none;
  color: white;
}

.mockup {
  margin: 0 auto;
  text-align: center;
}

.responsive {
  max-width: 100%;
  max-height: 540px;
}
